.button {
  background-color: #2b292d;
  text-align: center;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  transition: 0.3s ease-in;
  padding: 0;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}
