.cart__input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border: 1.5px solid #000;
  outline: none;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.cart__input:focus {
  border: 1.5px solid #f8cf61;
}
