.header__cart {
  display: block;
  width: 60px;
  height: 44px;
  background: url(../../../images/header/cart.png) center/cover;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header__cart {
    width: 52px;
    height: 38px;
  }
}

@media screen and (max-width: 480px) {
  .header__cart {
    width: 46px;
    height: 34px;
  }
}
