.order__paragraph {
  margin: 0 0 10px;
  font-size: 32px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .order__paragraph {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 425px) {
  .order__paragraph {
    font-size: 18px;
    line-height: 22px;
  }
}
